* {
padding: 0;
margin: 0;    
}

html {
box-sizing: border-box;    
}

:root {
--red-lantern: #DF3939;  
--egg-white-ivory: #EFEBE3;
--heading-type: "Geologica", Arial, sans-serif;
--body-text: Fragment Mono, courier, monospace;
--grayed-out: #F1E8E8;
--salmon-pink: #EDC4C4;
}

/* Menu */



/********************/

header#home-header {
display: flex;
flex-direction: row;
justify-content: space-between; 
padding: 25px;   
}

header#home-header h2 {
font: 900 2em var(--heading-type);  
}

header#home-header h2 a {    
color: var(--red-lantern);    
text-decoration: none;
}

header#home-header p {
font: 300 1.2em var(--body-text);
color: var(--red-lantern);
margin: 3px 0;   
}

header#home-header nav a {
font: 900 1em var(--heading-type);
color: var(--red-lantern);
text-transform: uppercase;
text-decoration: none;
}

main#home {
width: 75%;  
padding: 25px;  
}

main #about p {
font: 300 0.9em var(--body-text);
color: var(--red-lantern);
line-height: 2em;    
}

#row  {
display: flex;    
flex-direction: row;
}

.skills  {
width: 30%;
margin-right: 50px; 
margin-top: 50px;  
}

.skills h4 {
font: 900 1em var(--heading-type);
color: var(--red-lantern); 
margin: 50px 0 15px 0;   
}

.skills li {
font: 300 0.9em var(--body-text);
color: var(--red-lantern);
list-style-type: none;    
margin: 15px 0;
}

#project-container {
width: 100%;    
padding: 25px 0;
}

.project-flex-row {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 30px 0;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.project.home h4 {
font: 900 1.1em var(--heading-type);
color: var(--red-lantern);
text-transform: uppercase;
margin: 50px 0 10px 0;
}

.project-flex-row .left-column p a {
font: 300 0.9em var(--body-text);
color: var(--red-lantern);
text-decoration: none;
}

.project-flex-row .right-column li {
font: 300 0.8em var(--body-text);
color: var(--red-lantern);
border: 1px solid var(--red-lantern);
border-radius: 8px;
display: inline;    
list-style-type: none;
margin-right: 8px;
padding: 5px 7px;
}

footer {
width: 100%;   
}

footer a {
font: 900 1em var(--heading-type);
color: var(--red-lantern);     
text-decoration: none;  
border: 1px solid var(--red-lantern);
border-radius: 8px;  
padding: 7px 10px;
margin: 25px 0 25px 15px;
display: block;
float: left;    
}

footer img {
float: right;   
}

/* About */



/* Contact */



/* Project */


/* CMS - Sign in */

.cms-row-container {
display: flex;
flex-direction: row;
justify-content: space-between;   
}

header.cms-header {
display: flex;
flex-direction: row;
justify-content: space-between; 
padding: 25px;   
}

header.cms-header h2 {
font: 900 2em var(--heading-type);  
}

header.cms-header h2 a {    
color: var(--red-lantern);    
text-decoration: none;
}

header.cms-header p {
font: 300 1.2em var(--body-text);
color: var(--red-lantern);
margin: 3px 0;   
}

#photo {
border-top-left-radius: 45%;
border-top-right-radius: 45%;
border-bottom-left-radius: 45%;
border-bottom-right-radius: 45%;
clip-path: circle(50% 50%);
width: 505px;
height: 682px;
mix-blend-mode: color-burn;
filter:brightness(45%);
position: relative;
top: 200px;
left: 75px;
}

#sparkles {
position: absolute;
top: 800px;
left: 580px;    
}

#bottom-sparkle {
position: absolute;
bottom: 350px;
left: 100px;    
}

#footer-pattern-image {
position: absolute;
bottom: 50px;
left: 45%; 
}

.footer-image.first {
position: absolute;
bottom: 0;
left: 0;    
}

.cms-row-container {
display: flex;
flex-direction: row;
justify-content: space-between;    
}

.cms-left-content {
background: var(--egg-white-ivory);  
width: 60%; 
height: 100vh;
}

.cms-right-content {
background: var(--red-lantern); 
color: var(--egg-white-ivory);
width: 40%;  
height: 100vh;
z-index: 9;
}

.cms-right-content header a {
display: block;
float: right;
margin: 10px 25px 0 0;
font: 900 1.2em var(--heading-type);    
color: #fff;
text-transform: uppercase;
text-decoration: none;
}

.signin {
width: 600px;    
margin: 35% auto 0 auto;
}

.signin p {
font: 900 1.3em var(--heading-type);    
text-align: center;
margin-bottom: 15px;   
color: #fff; 
}

.signin-form {
width: 550px;
height: 240px;    
border-radius: 50px;
background: #fff; 
padding: 25px;
filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
}

.signin h3 {
font: 900 1.3em var(--heading-type);    
color: var(--red-lantern);  
margin: 35px 0 0 35px;  
}

.signin form input[type='email'],
.signin form input[type='password'] {
margin: 15px 0 0 35px;  
width: 85%;
height: 45px;
border-radius: 15px;
border: none;
background: rgba(223, 57, 57, 0.10); 
padding-left: 10px;
outline: transparent; 
color: var(--red-lantern);
}

.signin form input[type='email']::placeholder,
.signin form input[type='password']::placeholder {
color: var(--red-lantern);
font: 100 1em var(--body-text);
}

.signin form input[type='submit'] {
font: 100 0.8em var(--body-text);
background: var(--red-lantern);
color: #fff;
border-radius: 10px;
border: none;
width: 120px;
height: 45px;    
float: right;
margin: 25px 40px 0 0;
}

.cms-right-content .footer-image {
position: fixed;
bottom: 25px;
right: 10px;
width: 130px;
height: 104px;
}

/* CMS - Passcode */


/* CMS - Home  */


.cms-content {
margin: 0 auto;
width: 97%;
margin-top: 75px;
}

.cms-left-content form h3 {
font: 900 1.1em var(--heading-type);  
color: var(--red-lantern);
margin-bottom: 15px;
}

header.cms-header nav a {
font: 900 1em var(--heading-type);
color: #fff;
text-transform: uppercase;
text-decoration: none;
display: none;
}

.cms-left-content p {
font: 900 0.8em var(--body-text);
color: var(--red-lantern);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-smooth: always;
text-transform: uppercase;
margin: 20px 0 5px 0;   
}

.image-upload {
border: 1px dotted var(--red-lantern);
width: 59%;
height: 180px;    
}

.image-upload .drop {
font: 900 0.9em var(--body-text);
color: var(--red-lantern);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-smooth: always;  
text-align: center;
margin: 6% auto; 
}

.image-upload input[type='file'] {
   
}

.cms-left-content input::placeholder {
color: var(--red-lantern);  
padding-left: 10px; 
background: none;
}

.cms-left-content input:hover,
.cms-left-content textarea:hover {
background: rgba(223, 57, 57, 0.10); 
}

.cms-left-content #title,
.cms-left-content #url {
border: 1px solid var(--red-lantern); 
width: 59.2%;
height: 35px;
outline: none;
}

.form-flex  {
display: flex;
flex-direction: row;
width: 60%;
}

.form-flex div {
width: 55%;
margin-right: 15px;
}

.cms-left-content #category,
.cms-left-content #role {
border: 1px solid var(--red-lantern); 
width: 100%;
height: 35px;
outline: none;
}

.cms-left-content #typeface,
.cms-left-content #type-category,
.cms-left-content #weight,
.cms-left-content #color,
.cms-left-content #hex,
.cms-left-content #color-role {
border: 1px solid var(--red-lantern); 
width: 40%;
height: 35px;
margin-right: 15px;
outline: none;
}

.form-flex .tag {
border: 1px solid var(--red-lantern); 
width: 25%;
height: 35px;
margin-right: 15px;
outline: none;
}

.form-flex .tag.inactive {
background: #F1E8E8;
}

.cms-left-content textarea {
border: 1px solid var(--red-lantern); 
width: 59%;
height: 130px;
outline: none;
margin: 10px 0;
}

.form-flex input[type='button'] {
background: var(--red-lantern);
font: 900 0.9em var(--heading-type);
color: #fff;
border: none;
border-radius: 4px;
width: 230px;
height: 50px;
margin-right: 15px;
cursor: pointer;
}

.form-flex input[type='submit'] {
background: var(--red-lantern);
font: 900 0.9em var(--heading-type);
color: #fff;
border: none;
border-radius: 4px;
width: 230px;
height: 50px;
cursor: pointer;
}

.form-flex.buttons {
cursor: pointer;
margin: 35px 0 0 0;
width: 45%;
}

.cms-right-content nav {  
text-align: right;
margin-top: 15px;
}

.cms-right-content nav menu li {
display: inline;    
list-style-type: none;  
margin-right: 15px;
}

.cms-right-content nav menu li a { 
font: 900 0.8em var(--body-text);
color: #fff;
text-transform: uppercase;   
text-decoration: none; 
}

.cms-right-content header {
display: flex;
flex-direction: row; 
justify-content: space-between; 
align-items: center;  
padding: 0 25px;
margin-top: 75px;
}

.cms-right-content header h3 {
font: 900 1.1em var(--heading-type);  
color: #fff;
margin-bottom: 2px;
}

.cms-right-content p {
font: 900 0.8em var(--body-text);
color: #fff;
text-transform: uppercase;  
}

.cms-right-content header nav { 
display: flex;
flex-direction: row;
justify-content: flex-start;
width: 500px;
}

.cms-right-content header nav menu:first-child { 
display: inline;
border: 1px solid #fff;
border-radius: 4px;
width: 98px; 
margin-right: 10px;  
}

.cms-right-content header nav menu:last-child { 
 width: 300px;
}

.cms-right-content header nav menu:first-child  li:first-of-type { 
border-right: 1px solid #fff;  
padding: 0 15px 0 5px; 
}

.cms-right-content header nav menu li {
font-size: 1.4em; 
display: inline; 
cursor: pointer;   
}

.cms-right-content header nav menu:last-child li {
font: 900 0.9em var(--heading-type);
color: #fff;    
display: inline-block;
width: 105px;
text-align: center;
border: 1px solid #fff;
border-radius: 4px;
margin-right: 15px;
padding: 8px;  
cursor: pointer;  
}

.image-container {
width: 90%;
height: auto;
margin: 10% auto 0 auto;   
}

.image-gallery {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 2rem;
padding: 1rem;
}

.image-gallery img {
width: 100%;
height: 100%;
border-radius: 10px;
object-fit: cover;
display: block;
cursor: pointer;
}

.image-gallery img:hover {
background: var(--red-lantern);
mix-blend-mode: color-dodge;
transform: scale(1.02);
transition: transform 0.3s ease;
}


@media(max-width: 3500px){

.cms-right-content {
position: fixed;  
right: 0;
overflow-y: scroll;
}

.cms-right-content header nav { 
width: 400px;
}


.image-container {
width: 65%;
}

.image-gallery {
grid-template-columns: 1fr; 
}
  
}




@media(min-width: 2000px){
    .container{ width: 40% !important; } 
    main#home { width: 97%; }
    header#home-header h2 { font: 900 2.4em var(--heading-type); }
    header#home-header p { font: 300 1.2em var(--body-text);}
    main #about p { font: 100 1.3em var(--body-text); line-height: 2.4em; }
    .skills h4 { font: 900 1.2em var(--heading-type);}
    .skills li { font: 300 1.1em var(--body-text);}
}


@media(min-width: 1025px){
  .container{ width: 80%; margin: 0 auto; padding: 1% 0; }
  main#home { width: 97%; }
}

@media(max-width: 1024px){
    main#home { width: 90%; } 
    header#home-header p { font: 300 1em var(--body-text); }
    .skills  { width: 50%; margin-right: 40px; }
    .skills li { font: 300 0.75em var(--body-text); }
    .project-flex-row .left-column p a { font: 300 0.8em var(--body-text); }
    .project-flex-row .right-column li { font: 300 0.7em var(--body-text); padding: 5px; }
}

@media(max-width: 1600px){

.cms-signin, #cms {
background: var(--red-lantern);
height: 100vh;
}

.cms-row-container {
width: 98%;
display: block; 
margin: 0 auto;
}

header.cms-header nav a {
display: block;
}

.cms-left-content form h3 { 
color: #fff;
}

.cms-left-content {
background: none;  
width: 100%; 
height: auto;
}

.cms-content {
width: 95%;
}

.cms-left-content textarea {
width: 100%;
}

.cms-content input  {
width: 100%;
}

.cms-right-content {
width: 100%;  
display: none;
}

#cms p {
color: #fff;    
}

.form-flex  {
display: flex;
flex-direction: row;
width: 100%;
}

.cms-left-content #title,
.cms-left-content #url {
width: 100%;
}

.cms-left-content input, #cms input[type='button'], #cms input[type='submit'] {
border: 1px solid #fff; 
}

.cms-left-content input[type='text']:hover,
.cms-left-content textarea:hover,
#cms input[type='text']:hover {
border: 1px solid #fff; 
color: #fff;
}

.image-upload {
border: 2px dotted #fff;   
width: 100%;
}

.image-upload .drop {
color: #fff;
margin: 6% auto; 
}

#photo {
display: none; 
}

#sparkles {
display: none;     
}

#bottom-sparkle {
display: none;    
}

#footer-pattern-image {
display: none; 
}

.footer-image.first {
display: none;     
}

.cms-right-content header {
display: none;
}

.signin {
width: 100%;    
margin: 15% auto 0 auto;
}

.signin-form {
width: 450px;
height: 240px;    
border-radius: 50px;
margin: 0 auto;
background: #fff; 
padding: 25px;
filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
}

header.cms-header h2 a {    
color: #fff;    
}

header.cms-header p {
color: var(--egg-white-ivory);  
}

}

@media(max-width: 800px) { 

.form-flex.buttons {
cursor: pointer;
margin: 35px 0 0 0;
width: 100%;
}

.form-flex input[type='button'] {
width: 100%;
}

.form-flex input[type='submit'] {
width: 100%;
}

.image-upload .drop {
margin: 15% auto; 
}

header.cms-header p {
font: 300 1em var(--body-text);
color: var(--red-lantern);
margin: 3px 0;   
}

}




@media(min-width: 480px) { .signin { margin: 20% auto 0 auto; } }