{% extends 'base.html' %}
{% block content %}
<main id="cms-passcode">
  <div class="cms-row-container">
    <div class="cms-left-content">
       <form method="POST">
       <h3>PROJECTS</h3>
       <p>COVER IMAGE</p>
       <div class="image-upload">
         <div class="drop">
            DROP IMAGES HERE
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
         </div> 
         <input type="file" id="cover-image" accept='image/*' hidden>
       </div>
       <p>TITLE</p>
       <input type="text" name="title" id="title">
       <p>DESCRIPTION</p>
       <textarea name="description"></textarea>
       <p>LOGO</p>
       <div class="image-upload">
          <div class="drop">
            DROP IMAGES HERE
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
          </div> 
          <input type="file" id="logo-image" accept='image/*' hidden>
       </div>
       <div class="form-flex">
         <div>
           <p>Category</p>
           <input type="text" name="category" id="category" placeholder="WEB">
         </div>
         <div>
           <p>ROLE</p>
           <input type="text" name="role" id="role" placeholder="WEB DEVELOPER">
         </div>
       </div>
       <p>URL</p>
       <input type="text" name="url" id="url" placeholder="HTTP://">
       <p>IMAGES</p>
       <div class="image-upload">
        <div class="drop">
            DROP IMAGES HERE
            <i class="fa-solid fa-arrow-up-from-bracket"></i>
         </div> 
         <input type="file" id="images" accept='image/*' hidden>
       </div>
       <p>TAGS</p>
       <div class="form-flex">
         <input type="text" name="tag[]" class="tag">
         <input type="text" name="tag[]" class="tag inactive">
         <input type="text" name="tag[]" class="tag inactive">
         <input type="text" name="tag[]" class="tag inactive">
       </div>
       <p>TYPOGRAPHY</p> 
       <div class="form-flex">
         <input type="text" name="typeface" id="typeface" placeholder="TYPEFACE">
         <input type="text" name="type-category" id="type-category" placeholder="CATEGORY(HEADING, BODY TEXT ETC.)">
         <input type="text" name="weight" id="weight" placeholder="WEIGHT(SemiBold etc.)">
       </div>
       <p>COLORS</p> 
       <div class="form-flex">
         <input type="text" name="color" id="color" placeholder="CRIMSON RED">
         <input type="text" name="hex" id="hex" placeholder="#991DC98">
         <input type="text" name="color-role" id="color-role" placeholder="ROLE">
       </div>
       <div class="form-flex">
         <input type="button" id="color-fields" value="ADD COLOR FIELDS">
         <input type="button" id="tag-fields" value="ADD TAG FIELDS">
         <input type="submit" name="submit" value="SAVE PROJECT">
       </div>
      </form>
    </div>
    <div class="cms-right-content">
        <nav>
          <menu>
            <li><a href="">&plus; Add project</a></li>
            <li><a href="{{ url_for('home')}}">Return home</a></li>
          </menu>  
        </nav>
         <header>
           <div>
            <h3>PROJECTS</h3>
            <p>Edit projects</p>
           </div> 
           <nav>
            <menu>
               <li>&#11820;</li>
               <li>&#9776;</li>
            </menu>
            <menu>
               <li>ART &plus; DESIGN</li>
               <li>CODE</li>
            </menu>
           </nav> 
         </header>
        <div class="image-container">
            <div class="image-gallery">
               <img src="{{ url_for('static', filename='images/' )}}" alt="">
               <img src="{{ url_for('static', filename='images/' )}}" id="sparkles" alt="">
               <img src="{{ url_for('static', filename='images/' )}}" id="bottom-sparkle" alt="">
            </div>
            <div class="image-gallery">
               <img src="{{ url_for('static', filename='images/' )}}" alt="">
               <img src="{{ url_for('static', filename='images/' )}}" id="sparkles" alt="">
               <img src="{{ url_for('static', filename='images/' )}}" id="bottom-sparkle" alt="">
            </div> 
            <div class="image-gallery">
               <img src="{{ url_for('static', filename='images/' )}}" alt="">
               <img src="{{ url_for('static', filename='images/' )}}" id="sparkles" alt="">
               <img src="{{ url_for('static', filename='images/' )}}" id="bottom-sparkle" alt="">
            </div>
       </div>
      <img src="{{ url_for('static', filename='images/' )}}" class="footer-image" alt="">
    </div>
  </div>
</main>
{% endblock %} 