{% extends 'base.html' %}
{% block content %}
<header id="home">
    <div>
       <h2><a href="{{ url_for('home')}}">Soca</a></h2> 
       <p>UI/Visual Designer/Web + Email Developer</p>
    </div>
    <nav>
       <a href="#">menu</a> 
    </nav>
</header>
<main>
    <div id="about">
        <p>
           I&apos;m Rockwell &quot;Soca&quot; Latchman, a multidisciplinary designer and developer who builds minimalist digital products 
           from concept to code. I blend illustration and branding with functional development for email systems and CRUD 
           applications, favoring lean, micro-framework tech stacks.
        </p>
    </div>
    <div id="row">
       <div class="skills">
          <h4>Code</h4>
          <ul>
            <li>HTML5</li>
            <li>CSS3/SASS</li>
            <li>HTMX</li>
            <li>JavaScript(vanilla + jQuery)</li>
            <li>Python(Flask)</li>
          </ul>
           <ul>
            <li>PHP(LAMP)</li>
            <li>Ruby(Sinatra)</li>
            <li>Postgres</li>
            <li>Redis</li>
            <li>MongoDB</li>
          </ul>
       </div>
       <div class="skills">
          <h4>Design</h4>
          <ul>
            <li>Photoshop</li>
            <li>Illustrator</li>
            <li>Figma</li>
            <li>Animate</li>
            <li>Design thinking</li>
          </ul>
       </div>
    </div>
    <div id="project-container">
       <div class="project home">
          <h4>Web</h4>
          <div class="project-flex-row">
            <div class="left-column">
              <p><a href="">EMMA WEBB</a></p>
            </div>
            <div class="right-column">
              <ul>
                <li>FIGMA</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>LAMP</li>
              </ul>
            </div>
          </div>
          <div class="project-flex-row">
            <div class="left-column">
              <p><a href="">ARCADIA</a></p>
            </div>
            <div class="right-column">
              <ul>
                <li>FIGMA</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>FLASK</li>
                <li>SQLITE</li>
              </ul>
            </div>
          </div>
         <div class="project-flex-row">
            <div class="left-column">
              <p><a href="">WORDSMITH</a></p>
            </div>
            <div class="right-column">
              <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>FLASK</li>
                <li>REDIS</li>
                <li>POSTGRES</li>
              </ul>
            </div>
          </div>
          <div class="project-flex-row">
            <div class="left-column">
              <p><a href="">JUKEBOX</a></p>
            </div>
            <div class="right-column">
              <ul>
                <li>FIGMA</li>
                <li>ILLUSTRATOR</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>LAMP</li>
              </ul>
            </div>
          </div>
       </div>
       <div class="project home">
           <h4>EMAIL DEVELOPMENT</h4>
          <div class="project-flex-row">
            <div class="left-column">
              <p><a href="">MISO JAPANESE CUISINE</a></p>
            </div>
            <div class="right-column">
              <ul>
                <li>PROMOTIONAL</li>
                <li>ADOBE XD</li>
                <li>HTML</li>
                <li>CSS</li>
              </ul>
            </div>
          </div>
            <div class="project-flex-row">
            <div class="left-column">
              <p><a href="">WORDSMITH</a></p>
            </div>
            <div class="right-column">
              <ul>
                <li>NEWSLETTER</li>
                <li>HTML</li>
                <li>CSS</li>
              </ul>
            </div>
          </div>
          <div class="project-flex-row">
            <div class="left-column">
              <p><a href="">JUKEBOX</a></p>
            </div>
            <div class="right-column">
              <ul>
                <li>TRANSACTIONAL</li>
                <li>FIGMA</li>
                <li>HTML</li>
                <li>CSS</li>
              </ul>
            </div>
          </div>
          <div class="project-flex-row">
            <div class="left-column">
              <p><a href="">TRAVELBOT</a></p>
            </div>
            <div class="right-column">
              <ul>
                <li>PROMOTIONAL</li>
                <li>FIGMA</li>
                <li>MJML</li>
              </ul>
            </div>
          </div>
          <div class="project-flex-row">
            <div class="left-column">
              <p><a href="">BONITA</a></p>
            </div>
            <div class="right-column">
              <ul>
                <li>PROMOTIONAL</li>
                <li>FIGMA</li>
                <li>MJML</li>
              </ul>
            </div>
          </div>
          <div class="project-flex-row">
            <div class="left-column">
              <p><a href="">SHOEMART</a></p>
            </div>
            <div class="right-column">
               <ul>
                <li>PROMOTIONAL</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>FIGMA</li>
              </ul>
            </div>
          </div>
       </div>
       <div class="project home">
          <h4>ART + DESIGN</h4>
          <div class="project-flex-row">
            <div class="left-column">
              <p><a href="">BORSALINO</a></p>
            </div>
            <div class="right-column">
              <ul>
                <li>Acrylic</li>
                <li>Oil Pastel</li>
                <li>Painting</li>
              </ul>
            </div>
          </div>
          <div class="project-flex-row">
            <div class="left-column">
              <p><a href="">NIÑ0</a></p>
            </div>
            <div class="right-column">
              <ul>
                <li>Acrylic</li>
                <li>Oil Pastel</li>
                <li>Painting</li>
              </ul>
            </div>
          </div>
          <div class="project-flex-row">
            <div class="left-column">
              <p><a href="">UNTITLED</a></p>
            </div>
            <div class="right-column">
              <ul>
                <li>Photoshop</li>
                <li>Collage</li>
                <li>Digital Art</li>
              </ul>
            </div>
          </div>
       </div>
    </div>
</main>
<footer>
  <a href="{{ url_for('contact') }}" role="button">Contact me</a>
  <img src="{{ url_for('static', filename='images/me.png' )}}" alt="Soca Latchman as a baby" width="125" height="96">
</footer>
{% endblock %}